*{
    text-align: center;
}

.login{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerLogin h1{
    font-weight: bold;
}

.headerLogin h4{
    font-weight: lighter;
    margin-bottom: 5%;
}

form{
    width: 100%;
}

#firebasealert{
    display: none;
}

form input{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    text-align: left;
}

form button{
    width: 50%;
}


.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
}

#alertDanger{
    display: none;
    background-color: rgba(255, 0, 0, 0.832);
    color: white;
    font-weight: bold;
}

#alertSuccess{
    display: none;
    background-color: green;
    color: white;
}

#WArning{
    background-color: rgb(247, 243, 185);
    font-weight: bold;
}

#clockingForm{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}

.btns button{
    width: 40%;
}

#clockingForm .btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



@media screen and (max-width: 767px){
    .login{
        width: 90%;
    }
    #WArning{
        margin-top: 5%;
    }
    #alertDanger{
        margin: 3%, 0, 5%, 0;
        font-weight: normal;
    }

    #clockingForm{
        width: 90%;
    }

    #clockingForm{
        width: 90%;
        margin-top: 20%;
    }

    form input{
        width: 100%;
    }

    #navbarSupportedContent li{
        width: 100%;
        display: flex;
        flex-direction: column;
      }

}


#todayNameDate1{
    font-size: 30px;
    font-weight: lighter;
    margin-top: 3%;
}

.clockedinalready{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin:5%;

}


li{
    text-decoration: none;
    list-style: none;
    display:inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}


p{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}


#clockinList p{
    color: green;
}

#out p{
    color: red;
}




#totalstuff{
    width: 70%;
    margin: 10% auto;
}


#gg{
    margin-bottom: 2%;
}

#gg h1{
    padding: 20px;
}







.errorMessage{
    font-size: 1.3rem;
}


#AddPerson{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}

#AddPerson input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    text-align: left;
}

#AddPerson button{
    width: 50%;
    border: none;
    background-color: rgb(218, 218, 218);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}


#AlertMessages{
    display: none;
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 10%;
    padding: 10px;
    border-radius: 10px;
}

#screenshot-btn{
    margin-top: 1%;
    width: 50%;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 1%;
}


/* query media for adding person */
@media screen and (max-width: 767px){
    #AddPerson{
        width: 90%;
    }
    #AddPerson input{
        width: 100%;
    }
    #AddPerson button{
        width: 100%;
    }
}




footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}


#AddAPersonMessage{
    color: grey;
}


#workedHoursW {
    font-family: Arial, sans-serif;
    width: 100%;
}

#workedHoursW table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#workedHoursW th, #workedHoursW td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#workedHoursW th {
    background-color: #000000;
    color: white;
}

#workedHoursW tr:nth-child(even) {
    background-color: #f2f2f2;
}

#workedHoursW tr:hover {
    background-color: #ddd;
}



.displayAllPeople{
    margin-top: 3%;
}

.displayAllPeople li{
    font-size: 20px;
    font-weight: normal;
}

#clockedInUsers{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 2%;
}

@media screen and (max-width: 767px){
    #clockedInUsers{
        width: 90%;
    }

    #clockedInUsersInformation{
        width: 100%;
    }
}

#underConstruction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bolder;
    width: 100%;
    color: black;
}




.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#underConstruction h3{
    width: 100%;
}

#underConstruction h2{
    margin-bottom: 1%;
}

#underConstruction h4{
    margin-bottom: 2%;
}

@media screen and (max-width: 767px){
    #underConstruction{
        width: 100%;
    }

    #underConstruction h2{
        margin-bottom: 5%;
    }

    #underConstruction h4{
        margin-bottom: 10%;
    }

    #textUnderConstruction{
        width: 100%;
    }
}
